


.navBackground {
    background-image: url("bgr.JPG");
}

.margin-top {
    margin-top: 100px;
}

/* center style */
.center {
    margin-top: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
/* styling the timer box */
  #timerBox {
    color: black;
    background-color: white;
    padding-top: 5px;
    max-width: 200px;
   display: none;
}
/* styling the score */
#yourScore {
    color: black;
    background-color: white;
    padding-top: 5px;
    max-width: 200px;
    display: none;

}

/* hiding the score block */
#scoreRecord{
 display: none;
}

.borderbottom {
    border-bottom: 5px solid teal;
}
/* footer styling */

.footerMargin{
    margin-top: 10px;
}
.bordertop {
    border-top: 5px solid teal;
}

img {
    border: 2px solid teal;
    margin-top: 10px;
    max-height: 250px;
}
 .ulStyle {
    list-style-type: none;
    padding: 0;
    background-color: white;
  }
  /* styling list items */
  .liStyle {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:green;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
  } 

  /* button style */
  .button {
    border: none;
    color:black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* coloring the button when hovering over it */
button:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}